<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crest World</title>
    <link rel="stylesheet" href="/clean.css"/>
    <link rel="stylesheet" href="/game.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.1.1/turbolinks.js"></script>
    <script type="text/javascript" src="/game.js"></script>
  </head>
  <body>
    <main>
      <div>
        <h1>Crest World</h1>
        <p class="description"><%= @description %></p>
      </div>
      <div>
        <form id="game_form" method="POST" action="/game/<%= @uuid%>">
        <% @choices.each do |choice| %>
          <label class="button" for="<%= choice.id %>">
            <input type="radio" name="choice" id="<%= choice.id %>" value="<%= choice.id %>"/>
            <%= choice.label %>
          </label>
        <% end %>
        <noscript>
          <input class="button right" type="submit" />
        </noscript>
        </form>
      </div> 
    </main>
  </body>
</html>
